@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --header-height: 3.5rem;
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  overflow: hidden;
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s;
  overflow: hidden;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--title-color);
  font-family: var(--font-medium);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
}

.section__title-center {
  text-align: center;
}

.container {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s;
  /*For animation dark mode*/
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
}

.nav__logo-icon {
  font-size: 1.15rem;
  color: var(--first-color);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--container-color);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
    z-index: var(--z-fixed);
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

/* Active link */
.active-link {
  position: relative;
  color: var(--first-color);
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 1rem;
  }

  .nav__menu {
    margin-left: auto;
  }
}

@media screen and (min-width: 992px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2rem;
  }

  .nav__logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: .3s;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .scrollup {
    right: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 4rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
    align-items: center;
  }

  .nav__logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: .3s;
    margin-left: 20px;
    font-size: 25px;
  }

  .nav__link {
    color: var(--title-color);
    font-weight: 500;
    transition: .3s;
    font-size: 22px;
  }

  .scrollup {
    right: 3rem;
  }
}

.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s;
}

/* TEMA DARK TELA CONTROLE */
body.dark-theme {
  --first-color-dark: hsl(var(--hue), 8%, 20%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 75%);
  --body-color: hsl(var(--hue), 8%, 12%);
  --container-color: hsl(var(--hue), 8%, 16%);
}

.dark-theme .div {
  --body-color: hsl(var(--hue), 8%, 12%);
}

.dark-theme #perfilUser {
  color: white;
}

.dark-theme .btnConfigPD {
  background-color: #3e6553;
  color: white;
}

.dark-theme .btnPersonalizar {
  background-color: #3e6553;
  color: white;
}

.dark-theme .btnAtualizar {
  background-color: #3e6553;
  color: white;
}

.dark-theme .selectPlant {
  color: white;
}

.dark-theme select {
  background-color: rgb(187 187 187);
}

.dark-theme #plantInfo {
  background-color: rgb(187 187 187);
}

/* RESPONSIVIDADE DA TELA CONTROLE */

/* FALTA FAZER 1920X1080 */
@media screen and (max-width: 1920px) {
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 85%;
    margin-bottom: 20px;
    font-size: 14px;
    margin-left: 8%;
  }

  #plantInfo {
    display: flex;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-left: 8%;
  }

  #perfilUser {
    margin-top: 60px;
    text-align: center;
    align-items: center;
  }

  #umidade {
    font-size: 24px;
    margin-bottom: 20px;
  }

  #barra-umidade {
    width: 300px;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 100px;
  }

  #porcentagem {
    width: 70%;
    /* Ajuste inicial para a porcentagem desejada */
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px;
    transition: width 0.5s;
  }

  /* Umidade Ideal */
  .divUmidade {
    margin-top: 15px;
    text-align: center;
  }

  .divUmidade input[type="range"]:active,
  .divUmidade input[type="range"]:focus {
    outline: none;
  }

  .divUmidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 47px;
  }

  .divUmidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Temperatura Ideal */
  .divTemperatura {
    margin-top: 15px;
    text-align: center;
  }

  .divTemperatura input[type="range"]:active,
  .divTemperatura input[type="range"]:focus {
    outline: none;
  }

  .divTemperatura input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 25px;
  }

  .divTemperatura input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Luminosidade Ideal */
  .divLuminosidade {
    margin-top: 15px;
    text-align: center;
  }

  .divLuminosidade input[type="range"]:active,
  .divLuminosidade input[type="range"]:focus {
    outline: none;
  }

  .divLuminosidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0px;
    padding: 0;
    margin-left: 15px;
  }

  .divLuminosidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  .formInfo {
    text-align: center;
  }

  .btnAtualizar {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .selectPlant {
    color: black;
    font-size: 18px;
    margin-left: 120px;
  }

  .info {
    color: black;
    font-size: 16px;
  }

  .btnPersonalizar {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .btnPersonalizar:hover {
    background-color: #008000;
  }

  .btnConfigPD {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .btnConfigPD:hover {
    background-color: #008000;
  }

}

@media screen and (max-width: 1440px) {
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 85%;
    margin-bottom: 20px;
    font-size: 22px;
    margin-left: 8%;
  }

  #plantInfo {
    display: flex;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-left: 8%;
    font-size: 22px;
  }

  #perfilUser {
    margin-top: 100px;
    text-align: center;
    font-size: 35px;
  }

  #umidade {
    font-size: 24px;
    margin-bottom: 20px;
  }

  #barra-umidade {
    width: 300px;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 100px;
  }

  #porcentagem {
    width: 70%;
    /* Ajuste inicial para a porcentagem desejada */
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px;
    transition: width 0.5s;
  }

  /* Umidade Ideal */
  .divUmidade {
    margin-top: 15px;
    text-align: center;
  }

  .divUmidade input[type="range"]:active,
  .divUmidade input[type="range"]:focus {
    outline: none;
  }

  .divUmidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 47px;
  }

  .divUmidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Temperatura Ideal */
  .divTemperatura {
    margin-top: 15px;
    text-align: center;
  }

  .divTemperatura input[type="range"]:active,
  .divTemperatura input[type="range"]:focus {
    outline: none;
  }

  .divTemperatura input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 25px;
  }

  .divTemperatura input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Luminosidade Ideal */
  .divLuminosidade {
    margin-top: 15px;
    text-align: center;
  }

  .divLuminosidade input[type="range"]:active,
  .divLuminosidade input[type="range"]:focus {
    outline: none;
  }

  .divLuminosidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0px;
    padding: 0;
    margin-left: 15px;
  }

  .divLuminosidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  .formInfo {
    text-align: center;
    font-size: x-large;
  }

  .btnAtualizar {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .selectPlant {
    color: black;
    font-size: 23px;
    margin-left: 135px;
  }

  .info {
    color: black;
    font-size: 22px;
  }

  .btnPersonalizar {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .btnPersonalizar:hover {
    background-color: #008000;
  }

  .btnConfigPD {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .btnConfigPD:hover {
    background-color: #008000;
  }

  .nav__btns {
    font-size: 23px;
    color: black;
  }

  .nav__logo-icon {
    color: var(--first-color);
    font-size: 25px;
  }
}

@media screen and (max-width: 1360px) {
  .nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
    font-size: 18px;
  }

  .nav__logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: .3s;
    margin-left: 20px;
    font-size: 18px;
  }

  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 85%;
    margin-bottom: 20px;
    font-size: 17px;
    margin-left: 8%;
  }

  #plantInfo {
    display: flex;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-left: 8%;
    font-size: 14px;
  }

  #perfilUser {
    margin-top: 70px;
    text-align: center;
    font-size: 27px;
  }

  #umidade {
    font-size: 24px;
    margin-bottom: 20px;
  }

  #barra-umidade {
    width: 300px;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 100px;
  }

  #porcentagem {
    width: 70%;
    /* Ajuste inicial para a porcentagem desejada */
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px;
    transition: width 0.5s;
  }

  /* Umidade Ideal */
  .divUmidade {
    margin-top: 15px;
    text-align: center;
  }

  .divUmidade input[type="range"]:active,
  .divUmidade input[type="range"]:focus {
    outline: none;
  }

  .divUmidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 47px;
  }

  .divUmidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Temperatura Ideal */
  .divTemperatura {
    margin-top: 15px;
    text-align: center;
  }

  .divTemperatura input[type="range"]:active,
  .divTemperatura input[type="range"]:focus {
    outline: none;
  }

  .divTemperatura input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 25px;
  }

  .divTemperatura input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Luminosidade Ideal */
  .divLuminosidade {
    margin-top: 15px;
    text-align: center;
  }

  .divLuminosidade input[type="range"]:active,
  .divLuminosidade input[type="range"]:focus {
    outline: none;
  }

  .divLuminosidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0px;
    padding: 0;
    margin-left: 15px;
  }

  .divLuminosidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  .formInfo {
    text-align: center;
    font-size: larger;
  }

  .btnAtualizar {
    background-color: #006400;
    color: #fff;
    padding: 7px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .selectPlant {
    color: black;
    font-size: 18px;
    margin-left: 135px;
  }

  .info {
    color: black;
    font-size: 17px;
  }

  .btnPersonalizar {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .btnPersonalizar:hover {
    background-color: #008000;
  }

  .btnConfigPD {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .btnConfigPD:hover {
    background-color: #008000;
  }

  .nav__btns {
    font-size: 23px;
    color: black;
  }

  .nav__logo-icon {
    color: var(--first-color);
    font-size: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
    font-size: 18px;
  }

  .nav__logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: .3s;
    margin-left: 20px;
    font-size: 18px;
  }

  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 85%;
    margin-bottom: 20px;
    font-size: 19px;
    margin-left: 8%;
  }

  #plantInfo {
    display: flex;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-left: 8%;
    font-size: 16px;
  }

  #perfilUser {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
  }

  #umidade {
    font-size: 24px;
    margin-bottom: 20px;
  }

  #barra-umidade {
    width: 300px;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 100px;
  }

  #porcentagem {
    width: 70%;
    /* Ajuste inicial para a porcentagem desejada */
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px;
    transition: width 0.5s;
  }

  /* Umidade Ideal */
  .divUmidade {
    margin-top: 15px;
    text-align: center;
  }

  .divUmidade input[type="range"]:active,
  .divUmidade input[type="range"]:focus {
    outline: none;
  }

  .divUmidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 47px;
  }

  .divUmidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Temperatura Ideal */
  .divTemperatura {
    margin-top: 15px;
    text-align: center;
  }

  .divTemperatura input[type="range"]:active,
  .divTemperatura input[type="range"]:focus {
    outline: none;
  }

  .divTemperatura input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 25px;
  }

  .divTemperatura input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Luminosidade Ideal */
  .divLuminosidade {
    margin-top: 15px;
    text-align: center;
  }

  .divLuminosidade input[type="range"]:active,
  .divLuminosidade input[type="range"]:focus {
    outline: none;
  }

  .divLuminosidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0px;
    padding: 0;
    margin-left: 15px;
  }

  .divLuminosidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  .formInfo {
    text-align: center;
    font-size: large;
  }

  .btnAtualizar {
    background-color: #006400;
    color: #fff;
    padding: 7px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .selectPlant {
    color: black;
    font-size: 21px;
    margin-left: 135px;
  }

  .info {
    color: black;
    font-size: 18px;
  }

  .btnPersonalizar {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .btnPersonalizar:hover {
    background-color: #008000;
  }

  .btnConfigPD {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .btnConfigPD:hover {
    background-color: #008000;
  }

  .nav__btns {
    font-size: 23px;
    color: black;
  }

  .nav__logo-icon {
    color: var(--first-color);
    font-size: 25px;
  }

}

@media screen and (max-width: 768px) {
  .nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
    font-size: 18px;
  }

  .nav__logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: .3s;
    margin-left: 20px;
    font-size: 18px;
  }

  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 85%;
    margin-bottom: 20px;
    font-size: 17px;
    margin-left: 8%;
  }

  #plantInfo {
    display: flex;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-left: 8%;
    font-size: 14px;
  }

  #perfilUser {
    margin-top: 100px;
    text-align: center;
    font-size: 27px;
  }

  #umidade {
    font-size: 24px;
    margin-bottom: 20px;
  }

  #barra-umidade {
    width: 300px;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 100px;
  }

  #porcentagem {
    width: 70%;
    /* Ajuste inicial para a porcentagem desejada */
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px;
    transition: width 0.5s;
  }

  /* Umidade Ideal */
  .divUmidade {
    margin-top: 15px;
    text-align: center;
  }

  .divUmidade input[type="range"]:active,
  .divUmidade input[type="range"]:focus {
    outline: none;
  }

  .divUmidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 47px;
  }

  .divUmidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Temperatura Ideal */
  .divTemperatura {
    margin-top: 15px;
    text-align: center;
  }

  .divTemperatura input[type="range"]:active,
  .divTemperatura input[type="range"]:focus {
    outline: none;
  }

  .divTemperatura input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 25px;
  }

  .divTemperatura input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Luminosidade Ideal */
  .divLuminosidade {
    margin-top: 15px;
    text-align: center;
  }

  .divLuminosidade input[type="range"]:active,
  .divLuminosidade input[type="range"]:focus {
    outline: none;
  }

  .divLuminosidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0px;
    padding: 0;
    margin-left: 15px;
  }

  .divLuminosidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  .formInfo {
    text-align: center;
    font-size: medium;
  }

  .btnAtualizar {
    background-color: #006400;
    color: #fff;
    padding: 7px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .selectPlant {
    color: black;
    font-size: 16px;
    margin-left: 95px;
  }

  .info {
    color: black;
    font-size: 17px;
  }

  .btnPersonalizar {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .btnPersonalizar:hover {
    background-color: #008000;
  }

  .btnConfigPD {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .btnConfigPD:hover {
    background-color: #008000;
  }

  .nav__btns {
    font-size: 23px;
    color: black;
  }

  .nav__logo-icon {
    color: var(--first-color);
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 85%;
    margin-bottom: 20px;
    font-size: 17px;
    margin-left: 8%;
  }

  #plantInfo {
    display: flex;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-left: 8%;
    font-size: 10px;
  }

  #perfilUser {
    margin-top: 0px;
    text-align: center;
    font-size: 25px;
  }

  #umidade {
    font-size: 24px;
    margin-bottom: 20px;
  }

  #barra-umidade {
    width: 300px;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 100px;
  }

  #porcentagem {
    width: 70%;
    /* Ajuste inicial para a porcentagem desejada */
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px;
    transition: width 0.5s;
  }

  /* Umidade Ideal */
  .divUmidade {
    margin-top: 15px;
    text-align: center;
  }

  .divUmidade input[type="range"]:active,
  .divUmidade input[type="range"]:focus {
    outline: none;
  }

  .divUmidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 47px;
  }

  .divUmidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Temperatura Ideal */
  .divTemperatura {
    margin-top: 15px;
    text-align: center;
  }

  .divTemperatura input[type="range"]:active,
  .divTemperatura input[type="range"]:focus {
    outline: none;
  }

  .divTemperatura input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 25px;
  }

  .divTemperatura input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Luminosidade Ideal */
  .divLuminosidade {
    margin-top: 15px;
    text-align: center;
  }

  .divLuminosidade input[type="range"]:active,
  .divLuminosidade input[type="range"]:focus {
    outline: none;
  }

  .divLuminosidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0px;
    padding: 0;
    margin-left: 15px;
  }

  .divLuminosidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  .formInfo {
    text-align: center;
    font-size: inherit;
  }

  .btnAtualizar {
    background-color: #006400;
    color: #fff;
    padding: 7px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .selectPlant {
    color: black;
    font-size: 16px;
    margin-left: 55px;
  }

  .info {
    color: black;
    font-size: 14px;
  }

  .btnPersonalizar {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .btnPersonalizar:hover {
    background-color: #008000;
  }

  .btnConfigPD {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .btnConfigPD:hover {
    background-color: #008000;
  }

  .nav__btns {
    font-size: 20px;
    color: black;
  }

  .nav__logo-icon {
    color: var(--first-color);
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 85%;
    margin-bottom: 20px;
    font-size: 17px;
    margin-left: 8%;
  }

  #plantInfo {
    display: flex;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-left: 8%;
    font-size: 10px;
  }

  #perfilUser {
    margin-top: 0px;
    text-align: center;
    font-size: 25px;
  }

  #umidade {
    font-size: 24px;
    margin-bottom: 20px;
  }

  #barra-umidade {
    width: 300px;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 100px;
  }

  #porcentagem {
    width: 70%;
    /* Ajuste inicial para a porcentagem desejada */
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px;
    transition: width 0.5s;
  }

  /* Umidade Ideal */
  .divUmidade {
    margin-top: 15px;
    text-align: center;
  }

  .divUmidade input[type="range"]:active,
  .divUmidade input[type="range"]:focus {
    outline: none;
  }

  .divUmidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 47px;
  }

  .divUmidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Temperatura Ideal */
  .divTemperatura {
    margin-top: 15px;
    text-align: center;
  }

  .divTemperatura input[type="range"]:active,
  .divTemperatura input[type="range"]:focus {
    outline: none;
  }

  .divTemperatura input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 25px;
  }

  .divTemperatura input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Luminosidade Ideal */
  .divLuminosidade {
    margin-top: 15px;
    text-align: center;
  }

  .divLuminosidade input[type="range"]:active,
  .divLuminosidade input[type="range"]:focus {
    outline: none;
  }

  .divLuminosidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0px;
    padding: 0;
    margin-left: 15px;
  }

  .divLuminosidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  .formInfo {
    text-align: center;
    font-size: inherit;
  }

  .btnAtualizar {
    background-color: #006400;
    color: #fff;
    padding: 7px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .selectPlant {
    color: black;
    font-size: 16px;
    margin-left: 55px;
  }

  .info {
    color: black;
    font-size: 14px;
  }

  .btnPersonalizar {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .btnPersonalizar:hover {
    background-color: #008000;
  }

  .btnConfigPD {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .btnConfigPD:hover {
    background-color: #008000;
  }

  .nav__btns {
    font-size: 20px;
    color: black;
  }

  .nav__logo-icon {
    color: var(--first-color);
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .nav__logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: .3s;
    margin-left: -12px;
    font-size: 18px;
  }

  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 85%;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: 8%;
  }

  #plantInfo {
    display: flex;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-left: 8%;
    font-size: 8px;
  }

  #perfilUser {
    margin-top: 0px;
    text-align: center;
    font-size: 23px;
  }

  #umidade {
    font-size: 24px;
    margin-bottom: 20px;
  }

  #barra-umidade {
    width: 300px;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 100px;
  }

  #porcentagem {
    width: 70%;
    /* Ajuste inicial para a porcentagem desejada */
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px;
    transition: width 0.5s;
  }

  /* Umidade Ideal */
  .divUmidade {
    margin-top: 15px;
    text-align: center;
  }

  .divUmidade input[type="range"]:active,
  .divUmidade input[type="range"]:focus {
    outline: none;
  }

  .divUmidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 47px;
  }

  .divUmidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Temperatura Ideal */
  .divTemperatura {
    margin-top: 15px;
    text-align: center;
  }

  .divTemperatura input[type="range"]:active,
  .divTemperatura input[type="range"]:focus {
    outline: none;
  }

  .divTemperatura input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-left: 25px;
  }

  .divTemperatura input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  /* Luminosidade Ideal */
  .divLuminosidade {
    margin-top: 15px;
    text-align: center;
  }

  .divLuminosidade input[type="range"]:active,
  .divLuminosidade input[type="range"]:focus {
    outline: none;
  }

  .divLuminosidade input[type="range"] {
    appearance: none;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin: 0px;
    padding: 0;
    margin-left: 15px;
  }

  .divLuminosidade input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #3e6553;
  }

  .formInfo {
    text-align: center;
    font-size: 11px;
  }

  .btnAtualizar {
    background-color: #006400;
    color: #fff;
    padding: 7px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .selectPlant {
    color: black;
    font-size: 16px;
    margin-left: 55px;
  }

  .info {
    color: black;
    font-size: 14px;
  }

  .btnPersonalizar {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .btnPersonalizar:hover {
    background-color: #008000;
  }

  .btnConfigPD {
    background-color: #006400;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
  }

  .btnConfigPD:hover {
    background-color: #008000;
  }

  .nav__btns {
    font-size: 19px;
    color: black;
  }

  .nav__logo-icon {
    color: var(--first-color);
    font-size: 20px;
  }
}